.basic-table {
  &__search {
    padding-bottom: 10px;
    .el-button {
      margin: 0 6px;
    }
  }

  &__body {
    a {
      margin-right: 10px;
      color: #409eff;
    }
  }

  &__page {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
}
